@model IEnumerable<VitalFlow.Models.Termin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jmbg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kapacitet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jmbg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kapacitet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.terminID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.terminID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.terminID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
