@model VitalFlow.Models.Korisnik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imeIPrezime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imeIPrezime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojTelefona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojTelefona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumRođenja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumRođenja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jmbg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jmbg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.krvnaGrupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.krvnaGrupa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.brojOtkazivanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.brojOtkazivanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zahtjevID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zahtjevID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
