@model IEnumerable<VitalFlow.Models.Zahtjev>

@{
    ViewData["Title"] = "Index";
}
<style>
    .custom-table-wrapper {
        border: 2px solid black;
        padding: 10px;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.7); /* Transparent background */
        color: white; /* White text */
        overflow: hidden; /* Skrivanje prelaska sadržaja izvan granica */
    }

        .custom-table-wrapper .table {
            color: white; /* White text inside the table */
            width: 100%;
            table-layout: fixed; /* Fiksni layout tabele */
        }

        .custom-table-wrapper th, .custom-table-wrapper td {
            word-wrap: break-word; /* Prekid riječi ako izlaze iz granica */
            max-width: 150px; /* Opcionalno: ograničava širinu ćelija */
        }

        .custom-table-wrapper .table .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .custom-table-wrapper .table .row .label {
                font-weight: bold;
                min-width: 120px;
            }

        .custom-table-wrapper .table a {
            color: white; /* Bijele boje za linkove */
            text-decoration: none; /* Uklanja podvučenje linkova */
            margin-right: 10px; /* Opcionalno: dodaje razmak između linkova */
        }

    h1 {
        color: black;
        text-align: center;
    }
</style>
<h1>Prikaz zahtjeva klinike</h1>

<div class="custom-table-wrapper">
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="row">
                            <div class="label">Email:</div>
                            <div>@Html.DisplayFor(modelItem => item.email)</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="label">Krvna grupa:</div>
                            <div>@Html.DisplayFor(modelItem => item.krvnaGrupa)</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="label">Količina:</div>
                            <div>@Html.DisplayFor(modelItem => item.kolicina)</div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="label">Opis:</div>
                            <div>@Html.DisplayFor(modelItem => item.opis)</div>
                        </div>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.zahtjevID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
