@model IEnumerable<VitalFlow.Models.Zahtjev>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.krvnaGrupa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kolicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.krvnaGrupa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.zahtjevID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.zahtjevID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.zahtjevID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
