@model IEnumerable<VitalFlow.Models.ZalihaViewModel>

@{
    ViewData["Title"] = "Zaliha";
}

<h2>Zaliha</h2>

<table class="table">
    <thead>
        <tr>
            <th>Krvna Grupa</th>
            <th>Količina</th>
            <th>Kritična Linija</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.KrvnaGrupa.ToString().Replace('_', ' ')</td>
                <td>@item.Kolicina</td>
                <td>@item.KriticnaLinija</td>
                <td>
                    <form asp-controller="Zaliha" asp-action="Increase" method="post">
                        <input type="hidden" name="krvnaGrupa" value="@item.KrvnaGrupa.ToString()" />
                        <button type="submit" class="btn btn-success">Povećaj</button>
                    </form>
                    <form asp-controller="Zaliha" asp-action="Decrease" method="post">
                        <input type="hidden" name="krvnaGrupa" value="@item.KrvnaGrupa.ToString()" />
                        <button type="submit" class="btn btn-danger">Smanji</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
